@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@font-face {
    font-family: body;
    src: url(./font/body.ttf);
}
$maincolor:#e23556;
$maincolor-2:fff;
$maincolor-3:#e2e2e2;
$tran:0.3s;



*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font: {
        family:body;
        weight:400;
    }
}


body {
    width: 100%;
    padding: 110px;
    background-size: cover;
    display: grid;
    place-items: center;
}

.collign-col-1 {
    width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.heroImg {
    width: 700px;
    height: 500px;
    pointer-events: none;
}

.login-box {
    width: 500px;
    height: 500px;
}

.arf {
    color: rgba(113, 113, 113, 0.903);
}

.h-t-css {
    font: {
        weight:600;
    }
    margin-bottom: 10px;
    pointer-events: none;
}

.heading-text {
    margin: 25px 0;
    font: {
        size:14px;
    }
    pointer-events: none;
}

.inputBox-div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 25px;
}

.inputBox {
    width: 350px;
    height: 76px;
    border: none;
    background: #edf2f5;
    padding-left: 15px;
}

.ar {
    border-radius: 10px 10px 0 0;
}

.cr{
    border-radius: 0 0 10px 10px;
}

.check-div {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrt {
    color: #616161;
}
.checkbox {
    --border-default: #bbbbc1;
    --border-hover: #9898a3;
    --active: #e23556;
    --active-tick: #ffffff;
    display: block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    svg {
        display: block;
        position: absolute;
    }
    input {
        display: block;
        outline: none;
        border: none;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 36% / 36%;
        box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
        background: var(--background, transparent);
        transition: background .25s linear, box-shadow .25s linear;
        & + svg {
            width: 21px;
            height: 18px;
            left: 0;
            top: 0;
            color: var(--active);
            .tick {
                stroke-dasharray: 20;
                stroke-dashoffset: var(--stroke-dashoffset, 20);
                transition: stroke-dashoffset .2s;
                &.mask { 
                    stroke: var(--active-tick);
                }
            }
            & + svg {
                width: 11px;
                height: 11px;
                fill: none;
                stroke: var(--active);
                stroke-width: 1.25;
                stroke-linecap: round;
                top: -6px;
                right: -10px;
                stroke-dasharray: 4.5px;
                stroke-dashoffset: 13.5px;
                pointer-events: none;
                animation: var(--animation, none) .2s ease .175s;
            }
        }
        &:checked {
            --background: var(--active);
            --border: var(--active);
            & + svg {
                --stroke-dashoffset: 0;
                & + svg {
                    --animation: check;
                }
            }
        }
    }
    &:hover {
        input {
            &:not(:checked) {
                --border: var(--border-hover);
            }
        }
    }
}

@keyframes check {
    100% {
        stroke-dashoffset: 4.5px;
    }
}


.loginButton {
    margin: 20px 0;
    width: 350px;
    height: 56px;
    border-radius: 5px;
    background: $maincolor;
    border: none;
    color: white;
    font: {
        size:18px;
    }
    cursor: pointer;
    transition: 0.3s;
}

.loginButton:hover{
    background: #eb5470;
}

.signUp {
    color: #e23556;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .heroImg {
        display: none;
    }

    .loginHero {
        display: none;
    }

    .collign-col-1 {
        width: 100%;
    }

    .login-box {
        width: 100%;

    }
}


@media screen and (max-width:425px) {
    .heroImg {
        display: none;
    }

    .loginHero {
        display: none;
    }

    .collign-col-1 {
        width: 100%;
    }

    .login-box {
        width: 100%;
        position: absolute;
        left: 25px;
    }

    .inputBox {
        width: 350px;
    }

    .loginButton {
        width: 350px;
    }
}